/*
    Document   : scss/site/_hero.scss
    Created on : 2015-03-06 09:39 PM
    Author     : lsbyerley
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#hero{
    
}